<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Developing with Step Functions</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron pt-4 pb-4">
                <img src="images/AWS_logo_RGB_REV.png" title="AWS" alt="AWS" width="160" height="*" class="mx-auto d-block"/>
                <blockquote class="blockquote text-center">
                    <h1 class="display-4 pt-4">Developing with <img src="images/header-icon_step-functions.png" title="AWS" alt="AWS" class="mx-auto"/> AWS Step Functions</h1>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="container" id="app">
     <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
            <form id="incidentForm" v-on:submit.prevent="createIncident">
                <h3 class="text-primary">Create new plagiarism incident</h3>
                <div class="form-group">
                    <label for="StudentId">Student ID</label>
                    <input type="text" class="form-control col-8" id="StudentId" v-model="incidentData.StudentId"/>
                </div>
                <div class="form-group">
                    <label for="IncidentDate">Incident Date</label>
                    <input type="date" class="form-control col-8" id="IncidentDate" v-model="incidentData.IncidentDate"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create incident</button>
                    <button type="button" class="btn btn-secondary" v-on:click="resetForm">New incident</button>
                </div>
            </form>
            </div>
            </div>
            <div>
                <div class="alert alert-success" role="alert" v-show="showMessage">
                    Created new incident for Student ID: {{ incidentData.student_id }}<br/>
                </div>
                <div class="alert alert-info small" role="alert" v-show="showMessage">
                    <strong>Execution ARN:</strong> <a :href="executionUrl()">{{ executionArn }}</a><br/>
                    <strong>Start Date:</strong> {{ executionStartDate }}
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card text-white bg-secondary ">
                <div class="card-header">SCENARIO</div>
                <div class="card-body">
                    <p>University students caught plagiarising on exams and assignments are required to take exams
                        to test their knowledge of the universities referencing standard. Students get three attempts to pass the exam
                        before administrative action is taken.</p>

                    <p>This demo uses exposes an <a href="https://aws.amazon.com/step-functions/">AWS Step Function</a>  via an
                        <a href="https://aws.amazon.com/api-gateway/">Amazon API Gateway</a>. The step-function definition invokes
                        tasks via <a href="https://aws.amazon.com/lambda/">AWS Lambda</a> (Python 3.6), that store results in <a href="https://aws.amazon.com/dynamodb">Amazon DynamoDB</a>. Notifications are implemented
                        via <a href="https://aws.amazon.com/dynamodb">Amazon SNS</a> and <a href="https://aws.amazon.com/xray/">AWS X-Ray</a> provides distributed tracing capability.</p>
                </div>
            </div>
            <img src="images/stepfunction.png" class="img-fluid pt-5" alt="state-machine" />

        </div>
    </div>




</div>

</body>

<script type="application/javascript">

    var app = new Vue({
        el: '#app',
        data: function () {

            return {
                incidentData: {
                    StudentId: '',
                    IncidentDate: ''
                },
                showMessage: false,
                executionArn: '',
                executionStartDate: ''
            }
        },
        methods: {

            executionUrl: function () {
                return 'https://ap-southeast-2.console.aws.amazon.com/states/home?region=ap-southeast-2#/executions/details/' + this.executionArn
            },

            resetForm: function () {
                this.incidentData.StudentId = ''
                this.incidentData.IncidentDate = ''
                this.showMessage = false
            },

            createIncident: function () {

                console.log(this.data);

                // POST /someUrl
                this.$http.post('https://[ADD YOUR API GATEWAY URL HERE]/incident', this.incidentData).then(response => {
                        // get status
                        console.log(response.body)
                        this.executionArn = response.body.executionArn;
                        this.executionStartDate = response.body.startDate;
                        this.showMessage = true;

                    }, error => {
                        console.log(error)

                });
            }
    } // end methods

    })

</script>

</html>